## 빅데이터 실습

### 스타벅스 매장 입지 분석

#### 데이터 수집

##### 웹사이트 제공 엑셀파일 수정

In [9]:
# 필수 라이브러리 사용등록
import pandas as pd
import numpy as np

In [10]:
dfSeoulManicipality = pd.read_excel('./data/전국_시군구_위경도.xlsx')
dfSeoulManicipality.tail()

      docity  do   city   longitude   latitude
290    충청충주시  충청    충주시  127.928144  36.988181
291    충청태안군  충청    태안군  126.299975  36.742667
292  충청한누리대로  충청  한누리대로  127.289926  36.485450
293    충청홍성군  충청    홍성군  126.662908  36.598361
294    충청대전시  충청    대전시  127.384862  36.350630

In [11]:
# 서울 필터링
condition = dfSeoulManicipality['do'] == '서울'
dfSeoulGeo = dfSeoulManicipality[condition]
dfSeoulGeo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 138 to 162
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   docity     25 non-null     object
 1   do         25 non-null     object
 2   city       25 non-null     object
 3   longitude  25 non-null     float64
 4   latitude   25 non-null     float64
dtypes: float64(2), object(3)
memory usage: 1.2+ KB

In [12]:
# 필요로 만든 데이터는 항상 저장해 둘 것
dfSeoulGeo.to_excel('./data/수정_서울_시군구_위경도.xlsx', index= False)

In [13]:
# 서울시 구별 인구데이터 로드
columns = ['구', '세대소계','성별소계', '남자', '여자', '한국인소계', '남자', '여자', '등록외국인소계', '남자', '여자', '세대당인구', '65세이상']
dfSeoulPop = pd.read_excel('./data/서울시_구별_인구데이터.xlsx', header= 2, usecols= 'B, O:Z')
dfSeoulPop.columns = columns
dfSeoulPop

c:\DEV\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,구,세대소계,성별소계,남자,여자,한국인소계,남자,여자,등록외국인소계,남자,여자,세대당인구,65세이상
0,소계,4469417,9638799,4649446,4989353,9386034,4540031,4846003,252765,109415,143350,2.10,1743696
1,종로구,72067,150453,71890,78563,139417,67306,72111,11036,4584,6452,1.93,28764
2,중구,64714,131793,63495,68298,121312,58659,62653,10481,4836,5645,1.87,25920
3,용산구,107825,227106,109826,117280,213151,102312,110839,13955,7514,6441,1.98,39747
4,성동구,133089,284766,137620,147146,277361,134519,142842,7405,3101,4304,2.08,49462
5,광진구,170077,351180,167562,183618,335554,161277,174277,15626,6285,9341,1.97,56819
6,동대문구,172801,359873,174120,185753,341149,167346,173803,18724,6774,11950,1.97,67030
7,중랑구,188097,387470,189462,198008,382155,187372,194783,5315,2090,3225,2.03,78955
8,성북구,196800,438168,208682,229486,425602,204171,221431,12566,4511,8055,2.16,80414
9,강북구,143560,292977,141185,151792,288113,139514,148599,4864,1671,3193,2.01,68617
10,도봉구,138261,309494,149675,159819,306948,148796,158152,2546,879,1667,2.22,70436
11,노원구,217904,502925,241099,261826,498213,239117,259096,4712,1982,2730,2.29,96422
12,은평구,215721,470869,223330,247539,466770,221725,245045,4099,1605,2494,2.16,93817
13,서대문구,146845,320629,149879,170750,306231,145404,160827,14398,4475,9923,2.09,58113
14,마포구,181090,375162,174073,201089,363697,169990,193707,11465,4083,7382,2.01,57895
15,양천구,180695,439252,214161,225091,436028,212835,223193,3224,1326,1898,2.41,76317
16,강서구,274084,568826,272338,296488,563058,269822,293236,5768,2516,3252,2.05,102096
17,구로구,184096,415651,204715,210936,392405,192341,200064,23246,12374,10872,2.13,79984
18,금천구,120381,241105,121592,119513,227481,114414,113067,13624,7178,6446,1.89,45342
19,영등포구,190737,397800,195493,202307,374794,183726,191068,23006,11767,11239,1.96,67509
20,동작구,186675,389714,187623,202091,378769,183153,195616,10945,4470,6475,2.03,70474
21,관악구,284578,497883,249026,248857,481956,242651,239305,15927,6375,9552,1.69,85418
22,서초구,169884,412078,196391,215687,407664,194291,213373,4414,2100,2314,2.40,65661
23,강남구,239775,550282,262991,287291,544873,260520,284353,5409,2471,2938,2.27,86606
24,송파구,285927,660025,316981,343044,654166,314347,339819,5859,2634,3225,2.29,108894
25,강동구,203734,463318,226237,237081,459167,224423,234744,4151,1814,2337,2.25,82984

In [14]:
## 서울시 인구데이터 저장
dfSeoulPop.to_excel('./data/수정_서울_구별인구.xlsx', index=False)

In [15]:
## 서울시 구별 사업체 현황 로드
dfSeoulWork = pd.read_excel('./data/서울시_구별_사업체현황.xlsx', header=4, usecols='B:G')
columns = ['구', '소계', '여성대표자', '성별소계', '남자', '여자']
dfSeoulWork.columns = columns
dfSeoulWork.tail()

c:\DEV\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

      구      소계  여성대표자    성별소계      남자      여자
21  관악구   37915  13641  128417   68392   60025
22  서초구   71958  23066  487976  290084  197892
23  강남구  110007  35453  801419  447809  353610
24  송파구   74531  25400  400781  244588  156193
25  강동구   41660  15226  157465   83415   74050

In [16]:
## 서울시 구별 사업체 현황 저장
dfSeoulWork.to_excel('./data/수정_서울_구별사업체.xlsx', index= False)