## 빅데이터 실습

### COVID19, 코로나 바이러스의 영향으로 중국인 관광객이 얼마나 줄었을까?

#### 데이터 수집
- 한국관광공사, [한국관광 데이터랩 데이터](https://datalab.visitkorea.or.kr/datalab/portal/main/getMainForm.do#)

#### 데이터 로드 및 전처리
- (★)분석 전 가장 중요한 단계, 데이터 분석의 8할은 전처리
- Data Preprocessing : 분석에 적합하도록 원하는(쉬운) 형태로 데이터를 가공하는 과정
    - 결측치처리(None, Null, Nan) 처리, 이상치 처리, 변수 정규화, 파생변수 생성

##### 엑셀 파일 로드

#### 분석
- 필요 요소 분석
- 시각화, 결론 도출

In [179]:
!pip install matplotlib
!pip install pandas

Requirement already satisfied: matplotlib in c:\dev\python312\lib\site-packages (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\dev\python312\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\dev\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\dev\python312\lib\site-packages (from matplotlib) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\dev\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\dev\python312\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\dev\python312\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\dev\python312\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\dev\python312\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\dev\python312\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\dev\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: pandas in c:\dev\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\dev\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\dev\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\dev\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\dev\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\dev\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [180]:
# 판다스 사용
import pandas as pd

In [181]:
kto_201901 = pd.read_excel('./data/kto_201901.xlsx', header=1, usecols='A:G',skipfooter=4)
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

In [182]:
kto_201901.head()

     국적      관광     상용    공용  유학/연수      기타       계
0  아시아주  765082  10837  1423  14087  125521  916950
1    일본  198805   2233   127    785    4576  206526
2    대만   86393     74    22    180    1285   87954
3    홍콩   34653     59     2     90    1092   35896
4   마카오    2506      2     0     17      45    2570

In [183]:
kto_201901.tail()

         국적   관광   상용  공용  유학/연수     기타      계
62  아프리카 기타  768  718  90    206    908   2690
63     기타대륙   33    4   0      1     16     54
64     국적미상   33    4   0      1     16     54
65     교포소계    0    0   0      0  15526  15526
66       교포    0    0   0      0  15526  15526

데이터 탐색(전처리를 위한)

In [184]:
# DF 각 정보 개요
kto_201901.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [185]:
# DF 각 통계치
kto_201901.describe()

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [186]:
# 한번도 한국에 방문한 적이 없는 대륙, 나라(목적별)
# 문자열 여러줄, 논리연산 여러줄 작성 시 \ 붙여주어야함
condition = (kto_201901['관광'] == 0) | (kto_201901['상용'] == 0) | \
            (kto_201901['공용'] == 0) | (kto_201901['유학/연수'] == 0)

In [187]:
## cmap pandas DF 컬러맵
'''
'Accent', 'Accent_r', 'Blues', 'Blues_r', 
'BrBG', 'BrBG_r', 'BuGn', 'BuGn_r', 'BuPu', 'BuPu_r', 
'CMRmap', 'CMRmap_r', 'Dark2', 'Dark2_r', 'GnBu', 'GnBu_r', 
'Grays', 'Greens', 'Greens_r', 'Greys', 'Greys_r', 'OrRd', 'OrRd_r', 
'Oranges', 'Oranges_r', 'PRGn', 'PRGn_r', 'Paired', 'Paired_r', 
'Pastel1', 'Pastel1_r', 'Pastel2', 'Pastel2_r', 
'PiYG', 'PiYG_r', 'PuBu', 'PuBuGn', 'PuBuGn_r', 'PuBu_r', 
'PuOr', 'PuOr_r', 'PuRd', 'PuRd_r', 'Purples', 'Purples_r', 
'RdBu', 'RdBu_r', 'RdGy', 'RdGy_r', 'RdPu', 'RdPu_r', 
'RdYlBu', 'RdYlBu_r', 'RdYlGn', 'RdYlGn_r', 
'Reds', 'Reds_r', 'Set1', 'Set1_r', 'Set2', 'Set2_r', 'Set3', 'Set3_r', 
'Spectral', 'Spectral_r', 'Wistia', 'Wistia_r', 
'YlGn', 'YlGnBu', 'YlGnBu_r', 'YlGn_r', 'YlOrBr', 'YlOrBr_r', 'YlOrRd', 'YlOrRd_r', 
'afmhot', 'afmhot_r', 'autumn', 'autumn_r', 'binary', 'binary_r', 
'bone', 'bone_r', 'brg', 'brg_r', 'bwr', 'bwr_r', 'cividis', 'cividis_r', 
'cool', 'cool_r', 'coolwarm', 'coolwarm_r', 'copper', 'copper_r', 'cubehelix', 
'cubehelix_r', 'flag', 'flag_r', 'gist_earth', 'gist_earth_r', 
'gist_gray', 'gist_gray_r', 'gist_grey', 'gist_heat', 'gist_heat_r', 'gist_ncar',
'gist_ncar_r', 'gist_rainbow', 'gist_rainbow_r', 'gist_stern', 'gist_stern_r', 
'gist_yarg', 'gist_yarg_r', 'gist_yerg', 'gnuplot', 'gnuplot2', 'gnuplot2_r',
'gnuplot_r', 'gray', 'gray_r', 'grey', 'hot', 'hot_r', 'hsv', 'hsv_r', 
'inferno', 'inferno_r', 'jet', 'jet_r', 'magma', 'magma_r', 
'nipy_spectral', 'nipy_spectral_r', 'ocean', 'ocean_r', 
'pink', 'pink_r', 'plasma', 'plasma_r', 'prism', 'prism_r', 
'rainbow', 'rainbow_r', 'seismic', 'seismic_r', 'spring', 'spring_r', 
'summer', 'summer_r', 'tab10', 'tab10_r', 'tab20', 'tab20_r', 'tab20b', 'tab20b_r', 'tab20c', 'tab20c_r', 
'terrain', 'terrain_r', 'turbo', 'turbo_r', 
'twilight', 'twilight_r', 'twilight_shifted', 'twilight_shifted_r', 'viridis', 'viridis_r', 'winter', 'winter_r'
'''

"\n'Accent', 'Accent_r', 'Blues', 'Blues_r', \n'BrBG', 'BrBG_r', 'BuGn', 'BuGn_r', 'BuPu', 'BuPu_r', \n'CMRmap', 'CMRmap_r', 'Dark2', 'Dark2_r', 'GnBu', 'GnBu_r', \n'Grays', 'Greens', 'Greens_r', 'Greys', 'Greys_r', 'OrRd', 'OrRd_r', \n'Oranges', 'Oranges_r', 'PRGn', 'PRGn_r', 'Paired', 'Paired_r', \n'Pastel1', 'Pastel1_r', 'Pastel2', 'Pastel2_r', \n'PiYG', 'PiYG_r', 'PuBu', 'PuBuGn', 'PuBuGn_r', 'PuBu_r', \n'PuOr', 'PuOr_r', 'PuRd', 'PuRd_r', 'Purples', 'Purples_r', \n'RdBu', 'RdBu_r', 'RdGy', 'RdGy_r', 'RdPu', 'RdPu_r', \n'RdYlBu', 'RdYlBu_r', 'RdYlGn', 'RdYlGn_r', \n'Reds', 'Reds_r', 'Set1', 'Set1_r', 'Set2', 'Set2_r', 'Set3', 'Set3_r', \n'Spectral', 'Spectral_r', 'Wistia', 'Wistia_r', \n'YlGn', 'YlGnBu', 'YlGnBu_r', 'YlGn_r', 'YlOrBr', 'YlOrBr_r', 'YlOrRd', 'YlOrRd_r', \n'afmhot', 'afmhot_r', 'autumn', 'autumn_r', 'binary', 'binary_r', \n'bone', 'bone_r', 'brg', 'brg_r', 'bwr', 'bwr_r', 'cividis', 'cividis_r', \n'cool', 'cool_r', 'coolwarm', 'coolwarm_r', 'copper', 'copper_r', 'cubehelix', \n'cubehelix_r', 'flag', 'flag_r', 'gist_earth', 'gist_earth_r', \n'gist_gray', 'gist_gray_r', 'gist_grey', 'gist_heat', 'gist_heat_r', 'gist_ncar',\n'gist_ncar_r', 'gist_rainbow', 'gist_rainbow_r', 'gist_stern', 'gist_stern_r', \n'gist_yarg', 'gist_yarg_r', 'gist_yerg', 'gnuplot', 'gnuplot2', 'gnuplot2_r',\n'gnuplot_r', 'gray', 'gray_r', 'grey', 'hot', 'hot_r', 'hsv', 'hsv_r', \n'inferno', 'inferno_r', 'jet', 'jet_r', 'magma', 'magma_r', \n'nipy_spectral', 'nipy_spectral_r', 'ocean', 'ocean_r', \n'pink', 'pink_r', 'plasma', 'plasma_r', 'prism', 'prism_r', \n'rainbow', 'rainbow_r', 'seismic', 'seismic_r', 'spring', 'spring_r', \n'summer', 'summer_r', 'tab10', 'tab10_r', 'tab20', 'tab20_r', 'tab20b', 'tab20b_r', 'tab20c', 'tab20c_r', \n'terrain', 'terrain_r', 'turbo', 'turbo_r', \n'twilight', 'twilight_r', 'twilight_shifted', 'twilight_shifted_r', 'viridis', 'viridis_r', 'winter', 'winter_r'\n"

In [188]:
kto_201901[condition]
kto_201901.style.background_gradient(axis=None)

ImportError: background_gradient requires matplotlib.

In [189]:
## 기준년월 추가
kto_201901['기준년월'] = '2019-01'
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [190]:
## 국적데이터만 추출
kto_201901['국적'].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [191]:
##
for item in kto_201901['국적']:
    if item.strip()[-1] == '주':
        print(item)

아시아주
미주
구주
대양주
아프리카주

In [192]:
continent_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
continent_list

['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']

In [193]:
## 대륙을 뺀 국적리스트
kto_201901['국적']

0        아시아주
1          일본
2          대만
3          홍콩
4         마카오
       ...
62    아프리카 기타
63       기타대륙
64       국적미상
65       교포소계
66         교포
Name: 국적, Length: 67, dtype: object

In [194]:
kto_201901.국적

0        아시아주
1          일본
2          대만
3          홍콩
4         마카오
       ...
62    아프리카 기타
63       기타대륙
64       국적미상
65       교포소계
66         교포
Name: 국적, Length: 67, dtype: object

In [195]:
## 대륙 외 국적들만 뽑아내기
condition = kto_201901['국적'].isin(continent_list)==False
kto_201901_countries = kto_201901[condition]
kto_201901_countries['국적'].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [196]:
# 중간에 비는 인덱스없이 다시 지정, inplace=True 기존 데이터를 대체해줌
kto_201901_countries.reset_index(drop=True, inplace=True)

In [197]:
kto_201901_countries

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

In [198]:
## 대륙칼럼 추가
for i in continent_list:
    print(i)

아시아주
미주
구주
대양주
아프리카주
기타대륙
교포소계

In [199]:
# 대륙 리스트 재구성
continents =['아시아'] * 25 + ['아메리카'] * 5 + ['유럽'] * 23 + ['오세아니아'] * 3 + ['아프리카'] * 2 + ['기타대륙'] + ['교포']

In [200]:
## SettingWithCopyWarning 해제하는 법
pd.set_option('mode.chained_assignment',None)

In [201]:
# 국적 간 데이터 DF 마지막에 대륙 컬럼 추가
kto_201901_countries['대륙'] = continents
kto_201901_countries

          국적      관광    상용    공용  유학/연수     기타       계     기준년월     대륙
0         일본  198805  2233   127    785   4576  206526  2019-01    아시아
1         대만   86393    74    22    180   1285   87954  2019-01    아시아
2         홍콩   34653    59     2     90   1092   35896  2019-01    아시아
3        마카오    2506     2     0     17     45    2570  2019-01    아시아
4         태국   34004    37   199     96   6998   41334  2019-01    아시아
5      말레이시아   19043    95     7     99   2821   22065  2019-01    아시아
6        필리핀   14279   211   161    184  15638   30473  2019-01    아시아
7      인도네시아   14183   136    38    187   4298   18842  2019-01    아시아
8       싱가포르    8372    94     8     48   1333    9855  2019-01    아시아
9        미얀마    1304    10    31     67   3877    5289  2019-01    아시아
10       베트남   10739   763   110   1667   6904   20183  2019-01    아시아
11        인도    2318  2656    46    177   3474    8671  2019-01    아시아
12      스리랑카     157    54     5     28   1043    1287  2019-01    아시아
13      파키스탄     238   178    10    193    413    1032  2019-01    아시아
14     방글라데시     149   126    27     97    848    1247  2019-01    아시아
15      캄보디아     635    39    55     51   1915    2695  2019-01    아시아
16        몽골    8358    77   304    484    562    9785  2019-01    아시아
17        중국  320113  2993   138   8793  60777  392814  2019-01    아시아
18        이란      60    45    10     23     46     184  2019-01    아시아
19      이스라엘     727    12     0      9     57     805  2019-01    아시아
20        터키     792    13    32     36    912    1785  2019-01    아시아
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01    아시아
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01    아시아
23       GCC    1550    37    14     72    103    1776  2019-01    아시아
24    아시아 기타    1561   308    70    205   2410    4554  2019-01    아시아
25        미국   42989   418  2578    229  16523   62737  2019-01   아메리카
26       캐나다    8034    57    30     43   4296   12460  2019-01   아메리카
27       멕시코    1282    11     7     38    515    1853  2019-01   아메리카
28       브라질    1136    16     9     41    403    1605  2019-01   아메리카
29     미주 기타    1541    24    33    128    540    2266  2019-01   아메리카
30        영국    7982   175    17     41   1933   10148  2019-01     유럽
31        독일    4925   278    19    177   1451    6850  2019-01     유럽
32       프랑스    3773   297    48    288   1168    5574  2019-01     유럽
33      네덜란드    1592    47    16     77    537    2269  2019-01     유럽
34       스웨덴     844    29     6     18     85     982  2019-01     유럽
35       스위스     613    18     0     19     97     747  2019-01     유럽
36      이탈리아    1968    83    17     40    623    2731  2019-01     유럽
37       덴마크     520    21     6     16    188     751  2019-01     유럽
38      노르웨이     552    66     4     28    151     801  2019-01     유럽
39       벨기에     490    24     4     22    169     709  2019-01     유럽
40     오스트리아     544     8     2     13    209     776  2019-01     유럽
41       스페인    1010    36    15     52    255    1368  2019-01     유럽
42       그리스     481    17     4      0    273     775  2019-01     유럽
43      포르투갈     416    14     0     13    121     564  2019-01     유럽
44       핀란드     412    23     1     18    405     859  2019-01     유럽
45      아일랜드     392    15     1      2    185     595  2019-01     유럽
46     우크라이나     593    58     3     28   1580    2262  2019-01     유럽
47       러시아   17260   181    37    191   7525   25194  2019-01     유럽
48     크로아티아     226    12     0      3    250     491  2019-01     유럽
49      루마니아     412     8     4      3    445     872  2019-01     유럽
50      불가리아     154     1     1     10    265     431  2019-01     유럽
51       폴란드     713    10     0     27    574    1324  2019-01     유럽
52     구주 기타    1809    44    25     91    996    2965  2019-01     유럽
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01  오세아니아
54      뉴질랜드    2029    20    17      5    654    2725  2019-01  오세아니아
55    대양주 기타     555     3     4      0     52     614  2019-01  오세아니아
56  남아프리카공화국     368     9     1      6    616    1000  2019-01   아프리카
57   아프리카 기타     768   718    90    206    908    2690  2019-01   아프리카
58      국적미상      33     4     0      1     16      54  2019-01   기타대륙
59        교포       0     0     0      0  15526   15526  2019-01     교포

In [202]:
## 국적별 관광객 비율
kto_201901_countries['관광객 비율(%)'] = round(kto_201901_countries['관광'] / kto_201901_countries['계'] * 100, 1)

In [203]:
kto_201901_countries

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객 비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0

In [204]:
## 관광객 비율이 높은 나라 Top 5
kto_201901_countries.sort_values(by='관광객 비율(%)', ascending=False)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객 비율(%)
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0

In [205]:
## 관광객 비율이 낮은 나라 Top 5
kto_201901_countries.sort_values(by='관광객 비율(%)', ascending=True)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객 비율(%)
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2